@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using WebApp.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
   ViewBag.Title = "LEADTOOLS JavaScript Demo Web API Help";

   // Group APIs by controller
   ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.OrderBy(d => d.ActionDescriptor.ControllerDescriptor.ControllerName).ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
   <h1>@ViewBag.Title</h1>
</header>
<div id="body" class="help-page">
   <section class="featured">
      <div class="content-wrapper">
         <h2>Introduction</h2>
         <p>
            The majority of the LEADTOOLS JS Demos use the various endpoints of this service to run common functions.
         </p>
      </div>
   </section>
   <section class="content-wrapper main-content clear-fix">
      @foreach (var group in apiGroups)
      {
         @Html.DisplayFor(m => group, "ApiGroup")
      }
   </section>
</div>
