<?xml version="1.0" encoding="utf-8" ?>

<!-- local.config -->
<appSettings>

  <!--****************************************************-->
  <!-- Licensing: if values are specified here, they will be used. Otherwise, \bin is checked. -->

  <!-- FilePath may be a relative or absolute path to .lic file (must include filename) -->
  <!--<add key="lt.License.FilePath" value="C:\path\LEADTOOLS.LIC"/>-->
  <add key="lt.License.FilePath" value=""/>

  <!-- DeveloperKey may be a relative or absolute path to the .key file, or the actual contents. -->
  <!--<add key="lt.License.DeveloperKey" value="my_full_dev_key"/>-->
  <!-- or -->
  <!--<add key="lt.License.DeveloperKey" value="C:\path\LEADTOOLS.LIC.key"/>-->
  <add key="lt.License.DeveloperKey" value=""/>
  <!--****************************************************-->

  <!--Annotations App-->
  <!--
      The annotations demo 'save' feature works by writing the annotations as an XML file
      to the location specified on the server by "lt.Annotations.Temp.Dir".
      After the file is saved, a URL ("lt.Annotations.Temp.Url") must be returned
      to the user so they can download the file. This means the file must be located
      at a visible/hosted directory on the server. The two values may be the same if relative.
  -->
  <!-- URL to saved XML Annotations on server -->
  <add key="lt.Annotations.Temp.Url" value="./Temp" />
  <!--<add key="lt.Annotations.Temp.Url" value="http://localhost:[port]/Apps/Annotations/Temp" />-->

  <!-- Path to saved XML Annotations on server -->
  <add key="lt.Annotations.Temp.Dir" value=".\Temp" />
  <!--<add key="lt.Annotations.Temp.Dir" value="C:\path\to\Examples\JS\Demos\WebApp\Apps\Annotations\Temp" />-->

  <!-- Add your RasterCodecs options file if needed here (Refer to RasterCodecs.LoadOptions in documentation) -->
  <!--<add key="lt.RasterCodecs.OptionsFilePath" value="./Path/To/File.xml" />-->
</appSettings>